body {
	margin:0;
	color:#F2E8D5;
	font-family:Monsterrat;
	background:
	linear-gradient(rgba(0,0,0,0.7),
	rgba(0,0,0,0.7)),
	url("images/background.jpg");
	background-size:cover;
	background-position:center;
	}
	
	.hero {
	min-height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	padding:40px 20px;
	}
	
	.logo {
		width:200px;
		margin-bottom:20px;
		filter:
		drop-shadow(0 0 20px rgba(201,162,77,0.35));
		mix-blend-mode:screen;
		opacity:0.95;
		background:transparent;
		}
		
		h1 {
			font-family:Cinzel;
			letter-spacing:3px;
			margin-bottom:10px;
			}
			
			.tagline {
				color:#C9A24D;
				margin-bottom:30px;
				}
				
				.lore {
					max-width:600px;
					line-height:1.6;
					opacity:0.9;
					}
					
					button {
						margin-top:35px;
						padding:15px 45px;
						background:#C9A24D;
						border:none;
						font-size:16px;
						cursor:pointer;
						box-shadow:0 0 20px rgba(201,162,77,0.4);
						border-radius:40px;
						}
						
						button:hover {
							background:#8A6A2F;
							}
							
							@media (max-width: 768px) {
								
								.logo {
									width:160px;
									}
									
									h1 {
										font-size:28px;
										}
										
										.tagline {
											font-size:14px
											}
											
											.lore {
												font-size:14px;
												}
												
												button {
													padding:12px 30px;
													font-size:14px;
													}
													
													}
							